.mainContainer {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  margin-block: 4.5rem;
  padding-inline: 3.125rem;
}

.listingsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (max-width: 950px) {
  .listingsContainer {
    gap: 2.5rem;
  }
  .active {
    margin-top: 7rem;
  }
  .mainContainer {
    padding-inline: 1.5rem;
  }
}
